@import '../../styles/settings/_settings';

.content {
  position: sticky;
  top: 0;
  text-align: center;

  .content-in {
    width: 100%;
    position: absolute;
    color: $color-hero-text;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content.text {
      margin-top: 16vh;

      h1 {
        font-size: 40px;
      }
      p {
        padding: 6px 24px;
        span {
          text-decoration: underline;
        }
      }
    }
  }
  #page-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    svg {
      margin-top: 10px;
      width: 20px;
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
}
